html {
  height: 100%;
  width: 100%;
}
.text-center{
  text-align: center;
}
.bg-red{
  background-color: red;
}
.mx-auto{
  margin:auto;
}

.button{
  padding:20px;
  width:65px;
  margin:0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}
.row{
  margin: 8px 0;
}
.row-input{
  width:291px;
  font-size:20px;
  margin:1;
  padding:10px 0;
  border:2px solid black;
  border-radius: 6px;
}
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.items-centre{
  align-items: center;


}